@import "_variables";

section#packinglists {
  padding: 3rem 1rem;
}

section#packinglists .container-fluid {
  max-width: 2000px;
}

section#packinglists .lists-container {
  padding: 2rem 0;
  display: grid;
  gap: 1rem;
}

section#packinglists .card,
section#packinglists .card .card-footer .form-content-wrapper,
section#packinglists .card .card-footer .new-item-input-wrapper {
  width: 100%;
}

section#packinglists .card .card-header {
  background-color: $main-green;
}

section#packinglists .card .card-header h2 {
  font-family: lobster, sans-serif;
  margin: 0;
  padding: 0.5rem 0;
  color: white;
}

section#packinglists .card .grouped-items h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 0.5rem;
  margin-top: 1rem;
  color: $gray-blue;
}

section#packinglists .card .list-group .x-remove,
section#packinglists .card .list-group input,
section#packinglists .card .list-group label {
  cursor: pointer;
}

section#packinglists .card .list-group .x-remove {
  color: $light-gray-blue;
  margin-right: 0.8rem;
  font-weight: 200;
}

section#packinglists .card .list-group .x-remove:hover {
  color: $gray-blue;
}

section#packinglists .card .list-group input {
  border-radius: 100%;
}

section#packinglists .card .list-group label {
  color: $gray-blue;
  font-weight: 400;
}

section#packinglists .card .list-group label.checked {
  text-decoration: line-through;
  color: $light-gray-blue;
  font-weight: 200;;
}

section#packinglists .card .card-footer {
  padding: 1rem;
}

section#packinglists .card .card-footer .input-label-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

section#packinglists .card .card-footer .submitbtn-wrapper {
  margin-top: 1rem;
}

section#packinglists .card .card-footer #newItem::placeholder {
  color: gray;
  font-weight: 200;
}
section#packinglists .card .card-footer .information {
  font-weight: 200;
  font-size: 0.8rem;
  font-style: italic;
}
section#packinglists .card .card-footer .category-checkmarks-wrapper {
  display: flex;
  gap: 0.6rem;
  padding: 0.5rem 0;
  flex-wrap: wrap;
  font-weight: 200;
}

@media (min-width: 630px) {
  section#packinglists .lists-container .card .card-footer .input-label-wrapper {
    flex-wrap: nowrap;
  }
  section#packinglists .lists-container .card .card-footer .form-check input,
  section#packinglists .lists-container .card .card-footer .form-check label {
    cursor: pointer;
  }
  section#packinglists .lists-container .card .card-footer .input-label-wrapper label {
    width: min-content;
    text-wrap: nowrap;
  }
  section#packinglists .lists-container .card .card-footer .category-checkmarks-wrapper,
  section#packinglists .lists-container .card .card-footer .information {
    padding-left: 100px;
  }
  section#packinglists .lists-container .card .card-footer .line {
    height: 40px;
    border: 0.5px solid $light-green;
  }
  section#packinglists .lists-container .card .card-footer .form-wrapper {
    display: flex;
    gap: 1rem;
  }
  section#packinglists .lists-container .card .card-footer .submitbtn-wrapper {
    margin-top: 0;
  }
}

@media (min-width: 1000px) {
  section#packinglists .lists-container.multiple-cards {
    grid-template-columns: 1fr 1fr;
  }

  section#packinglists .container-fluid.single-card {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 2200px) {
  section#packinglists .lists-container {
    gap: 2rem;
  }
}
