// Local color-variables
$main-green: #455043;
$dark-green: #50594f;
$mid-green: #848f82;
$light-green: #aab09f;
$gray-blue: #375266;
$light-gray-blue: #8d98a0;

// Colors-map
$colors: (
  "main-green": $main-green,
  "dark-green": $dark-green,
  "mid-green": $mid-green,
  "light-green": $light-green,
  "gray-blue": $gray-blue,
);

//Theme-color-variables(overriding to boostrap)
$primary: $main-green;
$secondary: $gray-blue;

// BTN Styles
$btn-border-radius: 30rem;
$btn-padding-x: 1rem;

// NAV styles
$navbar-light-toggler-border-color: none;
$navbar-toggler-border-radius: 50%;
$navbar-toggler-focus-width: none;

$navbar-light-color: $main-green;

//Card styles
$card-border-radius: 1rem;
$card-border-color: $main-green;
