@import "_variables";
@import "_countdown";
@import "_packinglists";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/variables";

* {
  font-family: poppins, sans-serif;
}

nav .navbar-toggler {
  height: 50px;
  width: 50px;
  background-color: white;
}
nav .navbar-toggler .navbar-toggler-icon {
  width: 100%;
  color: $main-green;
}

nav .navbar-brand,
nav .offcanvas .offcanvas-title {
  font-family: lobster, sans-serif;
  color: $main-green;
}

nav .nav-btns,
nav .nav-btns * {
  width: 100%;
}

.form-check-input:checked {
  background-color: $light-gray-blue;
  border-color: $light-gray-blue;
}

@media (min-width: 562px) {
  nav .nav-btns,
  nav .nav-btns * {
    width: auto;
  }
}
